/*
CSS Base for the Miskatonic Herald
*/

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

/*
* CSS for body
*/

body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    
    /*background-color:#323232;*/
    background-image:url("https://picsum.photos/1600/900");
    font-family: 'OuroborosRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color:#ffffff;
}


/*
* CSS for items
*/

items{

    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
    display: grid;

    grid-template-rows: 4fr 4fr 10fr; 
}

item{
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
     margin: 0 auto;
     width: 100%;


     align-self: center;

}

h1 {
    text-align: center;
}

/*
* CSS for body
*/

button{
    
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */

     width: 50%;
     height: 8vh;
     border-radius: 10px;

     margin-left: 25%;

     background: purple;

    border-color: white 2 px;
    
    color: white;

    font-size: 200%;
     
}

button:hover {
    
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}

button:active {
    
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}


/*
* CSS for steps
* - Includes the opacity for the 
*   animation that makes this more
*   dinamyc, but is only a simple
*   GUI.
*/

steps{
   
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;

    grid-gap: 5%;

    transition: 0.5s;
}

/*
* CSS for all the steps
* with class (estabaEscondido)
* that turns the element visible
* with a transition.
*/
steps * {
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */

    justify-self: center;
    align-self: center;

    /* visibility: hidden; */
}

steplabel {
    width: 100%;
}

.estabaEscondido{
   
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
}


/*Progress*/
/*
* CSS for ProgressBars
*/
progress{

    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
    width: 100%;
    margin: auto;

}



finalmsg{

    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
     width: 50%;

     animation: neon 2s 0s ease infinite;
}

@keyframes neon {
 
    /* 
     * Fragmentos perdidos 
     * ^(;,;)^
     */
     0%,
     100% {
     text-shadow: 
     -.1vw 0vw .1vw #FED128, -.1vw 0vw .1vw #FED128, -.1vw 0vw .1vw #FED128, 
     -.1vw 0vw 1vw #F0130B, -.1vw 0vw 1vw #F0130B, -.1vw 0vw 1vw #F0130B,
     -.1vw 0vw 1vw #F0130B, -.1vw 0vw 1vw #F0130B, -.1vw 0vw .1vw #F0130B, .1vw 0vw 1vw #F0130B;
       color: #FED128;
     }
     50% {
     text-shadow: 
     -.1vw 0vw .1vw #705C12, -.1vw 0vw .1vw #705C12, -.1vw 0vw .1vw #705C12, 
     -.1vw 0vw .1vw #5C0704, -.1vw 0vw .1vw #5C0704, -.1vw 0vw .1vw #5C0704,
     -.1vw 0vw .1vw #5C0704, -.1vw 0vw .1vw #5C0704, -.1vw 0vw .1vw #5C0704, .1vw 0vw .1vw #5C0704;
       color: #705C12;
    }
}

content {

    background-color: rgba(0, 0, 0, 0.4);
    padding: 2%;

    justify-content: center;
    justify-items: center;
    justify-self: center;

    align-content: center;
    align-items: center;
    align-self: center;
}
