:root {
    --tamanyo-cuadricula: 45px;

    --bgc-black: black;

    /* --bg-color-verde-asqueroso: greenyellow; */
}

body {
    background-image: url("imagenes/suelo.jpg");
}

* {
    margin: 0;
    padding: 0;
}

#contenedor {

    display: grid;

    grid-template-columns: repeat(23, auto);
    grid-template-rows: repeat(16, var(--tamanyo-cuadricula));
}

.pasillo {
    /* background-color: green; */
    /* background-image: url("imagenes/suelo.jpg"); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fondo {
    background-color: green;
    background-image: url("imagenes/arbol.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}


.columnasAdyacentes {
    background-image: url("imagenes/arena.png");
}

.pisadas {


    /* transition-duration: 2s; */

    /* scale: (1.5); */

    
    
    background-image: url("imagenes/pisadas.png");
    background-size: 50%;

    background-position: center;
}

.personaje{
    background-image: url("imagenes/et.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.corazon {
    background-color: black;
    background-image: url("imagenes/corazon.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.vidas, .llaves, .urnas, .pergaminos, .momias {
    /* margin: auto; */
    /* background-image: url(); */
    background-color: var(--bgc-black);
    color: yellow;
    
}

.columnas {
    background-image: url("imagenes/columna.jpg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    background-position: center;
}

.momia {
    background-image: url("imagenes/predator.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.pergamino {
    background-color: var(--bgc-black);
    background-image: url("imagenes/pergamino1.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.llave {
    background-color: var(--bgc-black);
    background-image: url("imagenes/llave.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.sarcofago {
    background-color: var(--bgc-black);
    background-image: url("imagenes/sarcofago.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.tesoro {
    background-color: var(--bgc-black);
    background-image: url("imagenes/tesoro.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.urna {
    background-color: var(--bgc-black);
    background-image: url("imagenes/urna.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.nada {
    background-color: black;
    background-image: url("imagenes/arena.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}


.score {
    width: 100%;
    height: 100%;
    position: relative;
    /* overflow: hidden; */
    background-color: var(--bgc-black);

}

.scoreP {
    width: 200%;
    height: 100%;
    position: absolute;
    background-color: var(--bgc-black);
    color: yellow;
}

.puntuacion {
    width: 100%;
    height: 100%;
    position: relative;
    /* overflow: hidden; */
    background-color: var(--bgc-black);

}

.puntos {
    width: 200%;
    height: 100%;
    position: absolute;
    background-color: var(--bgc-black);
    color: yellow;
}

.niveles {
    width: 100%;
    height: 100%;
    position: relative;
    /* overflow: hidden; */
    background-color: var(--bgc-black);

}

.nivel {
    width: 200%;
    height: 100%;
    position: absolute;
    background-color: var(--bgc-black);
    color: yellow;
}