:root {
    --tamanyo-cuadricula: 45px;

    /* --bg-color-verde-asqueroso: greenyellow; */
}

body {
    background-image: url("imagenes/suelo.jpg");
}

* {
    margin: 0;
    padding: 0;
}

#contenedor {

    display: grid;

    grid-template-columns: repeat(23, auto);
    grid-template-rows: repeat(16, var(--tamanyo-cuadricula));
}

.pasillo {
    /* background-color: green; */
    /* background-image: url("imagenes/suelo.jpg"); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.fondo {
    background-color: green;
    background-image: url("imagenes/arbol.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.personaje{
    background-image: url("imagenes/et.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.columnasAdyacentes {
    background-image: url("imagenes/arena.png");
}

.pisadas {


    transition-duration: 2s;

    scale: (1.5);

    
    
    background-image: url("imagenes/pisadas.png");
    background-size: 50%;

    background-position: center;
}

.corazon {
    background-color: black;
    background-image: url("imagenes/corazon.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.vidas, .llaves, .urnas {
    margin: auto;
    /* background-image: url(); */
    background-color: black;
    color: yellow;
    
}

.momia {
    background-image: url("imagenes/predator.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    
}

.pergamino {
    background-color: black;
    background-image: url("imagenes/pergamino1.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.llave {
    background-color: black;
    background-image: url("imagenes/llave.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.sarcofago {
    background-image: url("imagenes/sarcofago.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.urna {
    background-color: black;
    background-image: url("imagenes/urna.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.nada {
    background-color: black;
    background-image: url("imagenes/arena.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.columnas {
    background-image: url("imagenes/columna.jpg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
    background-position: center;
}