
section {
    border: 1px dotted black;
    width: 12%;
    margin-bottom: 1%;
    border-radius: 3%;
}

button {
    height: 38px;
    width: 50%;
    border-radius: 3%;

    font-size: 0.6em;

    padding-left: 10%;
    padding-right: 10%;
}

p {
    text-align: center;
}

.caja {
    background-image: url("cthulhu.svg");
    background-size: 20px;
    width: 20px;
    height: 20px;

    border: 1px solid black;
    border-radius: 10%;
}

.linear {
    transition: 1.5s cubic-bezier(.49,.5,.66,.67);

}

.ease-in {
    transition: 1.5s cubic-bezier(.47,.18,.61,.38);
}

.ease-out {
    transition: 1.5s cubic-bezier(.34,.53,.67,1);
}

.ease {
    transition: 1.5s cubic-bezier(.32,.11,.24,1.03);
}

.ease-in-out {
    transition: 1.5s cubic-bezier(.4,0,.58,1);
}

.transicionable {
    transform: translateX(10.3vw);
}