$font-stack: Helvetica,sans-serif;
$primary-color: #7a7878;
$font-color: #DDD;

body {

    font: 100% $font-stack;
    background-color: $primary-color;
    
}


%fuente-basica {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    color: $font-color;
}

.resultados{
    ul {
        li {
            list-style:none;
            width:50vw;
            @extend %fuente-basica;
            margin-top: 10px;
        }
        li:nth-child(odd) {
            border: 1px solid red;
        }
        li:nth-child(even) {
            border: 1px solid yellow;
        }
    }
}
/*
.resultados{
    ul {
        li:nth-child(odd) {
            list-style:none;
            width:50vw;
            @extend %fuente-basica;
            margin-top: 10px;
        }
    }
}

ul {
    li:nth-child(odd) {
        list-style:none;
        width:50vw;
        @extend %fuente-basica;
        margin-top: 10px;
    }
    li:nth-child(odd) {
        border: 1px solid red;
    }
    li:nth-child(even) {
        border: 1px solid yellow;
    }
}*/


