:root {
    --bg-color-yellow: #FFC600;
    --bg-color-gray: #A1A1A1;
}

h1 {
    text-align: center;
    margin: 15px;
}

.container {
    display: grid;

    grid-gap: 20px;

    grid-template-columns: repeat(2, 1fr 2fr);
    grid-template-rows: repeat(6, 1fr);
}

.item:nth-child(odd):hover, .item:nth-child(odd):hover + .item:nth-child(even) {
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
}

.item:nth-child(odd) {
    background-color: var(--bg-color-gray);
}

.item:nth-child(even) {
    background-color: var(--bg-color-yellow );
}

.item2 {
    grid-column-end: span 3;
}

#SealOfApproval {
    position: fixed;

    width: 100px;
    height: 100px;
    background-image: url('./cthulhu_approval.gif');
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;

    margin-bottom: 5px;
    margin-right: 3px;
}